

*{
    margin: 0;
    padding: 0;
    background: #222A31;
}

/*Navbar*/
.nav{
    background: #FE424F;
    height: 5rem;
}

li{
    padding: 0.5rem;
    background: #FE424F;
    color: white;
    text-decoration: none;
}



/*Section*/
.section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2rem;
}

/*Card*/
.card{
    border: none;
    margin: 1rem;    
}

.star{
    font-size: 0.9rem;
    padding-bottom: 2px;
}

/*scroll*/
.section-scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 5rem;
}

.scroll-container{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    position: relative;
    width: 90vw;
}

.scroll-item{
    overflow: hidden;
    display: inline-block;
}

.scroll-container::-webkit-scrollbar{
    height: 10px;
}

.scroll-container::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}

.section-scroll h2{
    color: white;
}